# .gitignore file for Neural-Networks Repository #
# Author: Konstantinos Garas
# E-mail: kgaras041@gmail.com // k.gkaras@student.rug.nl
# Created: Tue 25 Nov 2025 @ 19:16:36 +0100
# Modified: Tue 25 Nov 2025 @ 19:21:03 +0100

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging / auxiliary files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.pyc

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Linux
*~
.Trash-*

# Vim Specific 
.nfs*
*.swp

# Jupyter Notebook specific
.ipynb_checkpoints
		
# Executable or database files
*.pdf
*.png
*.PNG
*.gif
*.csv

# LaTeX utils
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.sty
*.ttf
*.nav
*.snm
*.vrb
